[user]
	email = tib@tibux.org
	name = tibux
[push]
	default = simple
[color]
	ui = true
[http]
	sslverify = false
[pull]
	ff = only
[alias]
	up = "!git remote update -p ; git merge --ff-only @{u}"
	ci = commit
	co = checkout
	st = status
	br = branch
	log2 = "log --oneline --color --graph --decorate --all"

# Fix esc in the terminal
[core]
	pager = less -R
