#
# To reload :
#   bind -f ~/.inputrc

"\e[1;5C": forward-word  # ctrl + rigut
"\e[1;5D": backward-word # ctrl + left

"\e[1~": beginning-of-line # Home
"\e[3~": delete-char # Suppr
"\e[4~": end-of-line # End

